<div class="main_content">
  <div>
    <span class="card-number" id="msg_box"><%= @count %></span>
  </div>
  <div id="iine_button">
    <%= image_tag('hee_btn.png', :class => "card-image") %>
  </div>
</div>


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<script>
  jQuery(document).ready(function(){
    $("#iine_button").on('click',function(){
      App.room.vote();
    });
  });

</script>