// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  touch-action: manipulation;
}
.body{
  width:700px;
  margin-right: auto;
  margin-left : auto;
}
.main_content{
  height: 100%;
  margin-right: auto;
  margin-left : auto;
  text-align: center;
  >div{
    margin-right: auto;
    margin-left : auto;
  }
}
#msg_box{
  font-size: 200pt;

}